.Butao {
    width: fit-content;
    margin-top: 30px;
}
button{
    width: 130px;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 3px 15px #bdbdbd;
    color: rgb(206, 206, 206);
    background: linear-gradient(100deg,#2b4f71,#4CA1AF);
}