
.custom1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom2 {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 481px;
  transform: rotateY(180deg);
}

.custom3 {
  fill: #901616;
}
.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

form {
  width: 100%;
  height: 100%;
}
.login {
  font-size: larger;
  font-weight: 100px;
}
.welcome {
  margin-bottom: 30px;
}
.Inp:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.esqueci {
  text-decoration: none;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  color: #c21700;
  margin-bottom: -30px;
}
.btn {
  margin-top: 70px;
}
@media only screen and (min-width: 768px) {
  .Card {
    width: 300px;
  }
}
